<section id="create-circular">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div class="px-2">
          <form class="justify-content-center" [formGroup]="circularCreateForm">

            <div class="form-group">
              <input class="form-control" type="text" formControlName="title" placeholder="Title">
              <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title of circular is required</div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input class="form-control" type="date" formControlName="date">
                <div *ngIf="f.date.touched && f.date.errors" class="invalid-feedback">
                  <div *ngIf="f.date.errors.required">Date of circular is required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <input class="form-control" type="text" formControlName="author" placeholder="Author">
                <div *ngIf="f.author.touched && f.author.errors" class="invalid-feedback">
                  <div *ngIf="f.author.errors.required">Author of circular is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input class="form-control" type="text" formControlName="imgUrl" placeholder="Image URL">
              <div *ngIf="f.imgUrl.touched && f.imgUrl.errors" class="invalid-feedback">
                <div *ngIf="f.imgUrl.errors.required">Image URL of circular is required</div>
              </div>
            </div>

            <!-- <div formArrayName="paragraphs" *ngFor="let paragraph of circularCreateForm.controls.paragraphs; let i = index"> -->
            <div formArrayName="paragraphs" *ngFor="let paragraphGroup of paragraphData.controls; let i = index">
              <div [formGroupName]="i">
                <div class="form-group">
                  <textarea class="form-control" type="text" formControlName="paragraph" placeholder="Paragraph" rows="8" cols="100"></textarea>
                  <div *ngIf="f.paragraphs.touched && f.paragraphs.errors" class="invalid-feedback">
                    <div *ngIf="f.paragraphs.errors.required">Paragraph of circular is required</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <button class="btn btn-info" (click)="addParagraphButtonClick()">Add another paragraph</button>
            </div>
            <div class="form-group">
              <button [disabled]="!circularCreateForm.valid" class="btn btn-success" (click)="onCreateCircular()">Post</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<table border="1">
  <tr>
    <th style="padding: 10px;">FormGroup</th>
    <th style="padding: 10px;">FormControl (paragraphs)</th>
    <th style="padding: 10px;">FormControl (title)</th>
  </tr>
  <tr>
    <td style="padding: 10px;">
      touched : {{ circularCreateForm.touched }} <br/>
      dirty : {{ circularCreateForm.dirty }} <br/>
      valid : {{ circularCreateForm.valid }} <br/>
      Form Values: {{ circularCreateForm.value | json}}
    </td>
    <td style="padding: 10px;">
      <!-- paragraphs : {{ circularCreateForm.controls.paragraphs. | json }} -->
      paragraphs Value: {{ circularCreateForm.controls.paragraphs.value | json}}
    </td>
    <td style="padding: 10px;">
      title touched: {{ circularCreateForm.controls.title.touched }} <br/>
      title errors: {{ circularCreateForm.controls.title.errors | json}}
    </td>
  </tr>
</table>
