<div class="container">
  <div class="row">
    <div class="col-12">
      <select class="form-control m-4" [(ngModel)]="selectedShift.shiftID" (ngModelChange)="onSelectShift()">
        <option *ngFor="let exam of exams" [ngValue]="exam.shiftID">
          {{ exam.date }} - {{ exam.time }} - {{ exam.name }} - {{ exam.location }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4>Students with gate pass</h4>
      <app-gate-pass-listview
        *ngIf="selectedShift"
        [isStudentsWithGatepass]="true"
        [examId]="selectedShift.examID"
        [shiftId]="selectedShift.shiftID">
      </app-gate-pass-listview>
    </div>
    <div class="col-6">
      <h4>Available students</h4>
      <app-gate-pass-listview
        *ngIf="selectedShift"
        [isStudentsWithGatepass]="false"
        [examId]="selectedShift.examID"
        [shiftId]="selectedShift.shiftID">
      </app-gate-pass-listview>
    </div>
  </div>
</div>
