<!-- TODO Styling -->
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        #email
      />
    </div>
    <div class="form-group">
      <label for="regNumber">Registration Number</label>
      <input
        type="text"
        id="regNumber"
        formControlName="regNumber"
        class="form-control"
        #regNumber
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="form-control"
        #firstName
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="form-control"
        #lastName
      />
    </div>
    <button
      type="submit"
      class="btn btn-success m-4"
      [disabled]="!registerForm.valid">
        Save
    </button>
  </form>
  <app-alert [type]="'Large'" [isSuccess]="registerStudentMessage.isSuccess" [message]="registerStudentMessage.message"></app-alert>
</div>
