<section id="loginSection">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h3>Login</h3>
        <div class="px-2">
        <form class="justify-content-center" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(email.value, password.value)">
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input class="form-control m-2" type="email" formControlName="email" placeholder="Email" #email />
            <!-- <label for="password">Password</label> -->
            <input class="form-control m-2" type="password" formControlName="password" placeholder="Password" #password />
            <button type="submit" class="btn btn-success m-2">Login</button>
          </div>
          <div class="reset-password">
            <small>
              <a [routerLink]="'/reset-password'">Reset Password</a>
            </small>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

