<div class="container">
  <h3> Profile Management </h3>
  <ngb-accordion #accPublish="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn"><h4>Account Details</h4></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-student-profile-detail [student]="user"></app-student-profile-detail>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="btn"><h4>Leave</h4></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="leaveRequestForm" class="form-horizontal">
          <label for="startDate">Leave Request</label>
          <div class="input-group">
            <input formControlName="startDate" type="date" class="form-control date-input" placeholder="Start Date" />
            <input formControlName="endDate" type="date" class="form-control date-input" placeholder="End Date"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-info" (click)="onLeaveRequest()" [disabled]="!leaveRequestForm.valid">Request</button>
            </div>
          </div>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

{{ leaves | json}}
