<section id="examDetailSection">
  <div class="container">
    <!-- <app-alert [type]="'Large'" [isSuccess]="changePasswordMessage.isSuccess" [message]="changePasswordMessage.message"></app-alert> -->
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h3>Exam Detail</h3>
        <div class="px-2">
        <form class="justify-content-center" [formGroup]="examDetailForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control m-2" type="text" formControlName="examId" placeholder="examId" disabled />
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="date" formControlName="examDate" placeholder="Exam date"
              [ngClass]="{ 'is-invalid': f.examDate.touched && f.examDate.errors }" />
            <div *ngIf="f.examDate.touched && f.examDate.errors" class="invalid-feedback">
              <div *ngIf="f.examDate.errors.required">Exam date is required</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="time" formControlName="examTime" placeholder="Exam time"
              [ngClass]="{ 'is-invalid': f.examTime.touched && f.examTime.errors }" />
            <div *ngIf="f.examTime.touched && f.examTime.errors" class="invalid-feedback">
              <div *ngIf="f.examTime.errors.required">Exam time is required</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="text" formControlName="name" placeholder="Exam name"
              [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
            <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Exam name is required</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="text" formControlName="location" placeholder="Exam location"
              [ngClass]="{ 'is-invalid': f.location.touched && f.location.errors }" />
            <div *ngIf="f.location.touched && f.location.errors" class="invalid-feedback">
              <div *ngIf="f.location.errors.required">Exam location is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary m-2" [disabled]="!examDetailForm.valid">Add</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
