<section id="changePasswordSection">
  <div class="container">
    <app-alert [type]="'Large'" [isSuccess]="changePasswordMessage.isSuccess" [message]="changePasswordMessage.message"></app-alert>
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h3>Change Password</h3>
        <div class="px-2">
        <form class="justify-content-center" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control m-2" type="password" formControlName="oldPassword" placeholder="Old password"
              [ngClass]="{ 'is-invalid': f.oldPassword.touched && f.oldPassword.errors }" />
            <div *ngIf="f.oldPassword.touched && f.oldPassword.errors" class="invalid-feedback">
              <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="password" formControlName="newPassword" placeholder="New password"
              [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }" />
            <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required">New password is required</div>
              <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control m-2" type="password" formControlName="confirmNewPassword" placeholder="Confirm new password"
              [ngClass]="{ 'is-invalid': f.confirmNewPassword.touched && f.confirmNewPassword.errors }"/>
            <div *ngIf="f.confirmNewPassword.touched && f.confirmNewPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmNewPassword.errors.required">Confirm new password is required</div>
              <div *ngIf="f.confirmNewPassword.errors.mustMatch">Passwords must match</div>
            </div>
            <button type="submit" class="btn btn-primary m-2" [disabled]="!changePasswordForm.valid">Confirm</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
