<div class="form-group">
  Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"/>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Email</th>
        <th>Registration Number</th>
        <th>Email invite</th>
        <th>Enroll</th>
      </tr>
    </thead>
    <tbody *ngFor="let student of enrollPage">
        <tr>
          <td>{{ student.email }}</td>
          <td>{{ student.registrationNumber }}</td>
          <td><button class="btn btn-primary btn-sm" (click)="onSendEmail(student)">Email</button></td>
          <td><button class="btn btn-danger btn-sm" (click)="onRegister(student)">Register</button></td>
        </tr>
        <tr *ngIf="emailMessage.studentIndex === students.indexOf(student)">
          <td colspan="4">
            <app-alert class="d-flex justify-content-center" [type]="'Small'" [isSuccess]="emailMessage.isSuccess" [message]="emailMessage.message"></app-alert>
          </td>
        </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="enrollTable.collectionSize" [(page)]="enrollTable.page" [pageSize]="enrollTable.pageSize">
    </ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="enrollTable.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
  </div>
</div>
