<div class="container">
  <h3> Exam Management </h3>
  <ngb-accordion #accPublish="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelHeader let-opened="opened">
        <button ngbPanelToggle class="btn"><h4>Gate Passes</h4></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-student-gatepass [user]="user"></app-student-gatepass>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn"><h4>Time tables</h4></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-student-exam-view></app-student-exam-view>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
