<div class="card">
  <h5 class="card-header">Gate Pass - Exam ID: {{gatePass._id}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{gatePass.name}}</h5>
    <p class="card-text">Student ID: {{studentId}}</p>
    <p class="card-text">Date: {{gatePass.examDate}}</p>
    <p class="card-text">Time: {{gatePass.examTime}}</p>
    <p class="card-text">Location: {{gatePass.location}}</p>
    <div class="row">
      <button class="btn btn-secondary btn-sm m-2" (click)="activeModal.close('Close click')">Close</button>
      <button class="btn btn-primary btn-sm m-2" (click)="onPrintGatepass()">Print</button>
      <button class="btn btn-info btn-sm m-2" (click)="onDownloadGatepass()">Download</button>
    </div>
  </div>
</div>
