<div id="print-section">
  <div class="card">
      <h5 class="card-header">
        Gate Pass - Exam ID: {{gatePass._id}}
        <ngx-barcode [bc-height]="30" [bc-value]="gatePass._id" [bc-width]="1"></ngx-barcode>
      </h5>
      <div class="card-body">
        <h5 class="card-title">{{gatePass.name}}</h5>
        <p class="card-text">
          Student ID: {{studentId}}
          <ngx-barcode [bc-height]="30" [bc-value]="studentId" [bc-width]="1"></ngx-barcode>
        </p>
        <p class="card-text">Date: {{gatePass.examDate}}</p>
        <p class="card-text">Time: {{gatePass.examTime}}</p>
        <p class="card-text">Location: {{gatePass.location}}</p>
      <!-- <ngx-barcode [bc-height]="30" [bc-value]="gatePass._id + studentId" [bc-display-value]="true" [bc-width]="1"></ngx-barcode> -->
      <div class="row">
        <button class="btn btn-secondary btn-sm m-2" (click)="activeModal.close('Close click')">Close</button>
        <button
          ngxPrint
          printSectionId="print-section"
          [printStyle]="{button : {'display': 'none'}}"
          class="btn btn-primary btn-sm m-2">
          Print
        </button>
        <button class="btn btn-info btn-sm m-2" (click)="onDownloadGatepass()">Download</button>
      </div>
    </div>
  </div>
</div>
