<section id="resetSection">
  <div class="container">
    <app-alert [type]="'Large'" [isSuccess]="resetPasswordMessage.isSuccess" [message]="resetPasswordMessage.message"></app-alert>
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h3>Reset Password</h3>
        <div class="px-2">
        <form class="justify-content-center" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(email.value)">
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input class="form-control m-2" type="email" formControlName="email" placeholder="Email" #email />
            <button type="submit" class="btn btn-primary m-2" [disabled]="!resetPasswordForm.valid">Send reset email</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>
