<ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
  <li class="list-group-item border-0" *ngFor="let notification of notifications">
    <div class="d-flex bd-highlight">
        <button *ngIf="showEditButton" type="button" class="btn btn-primary flex-fill m-1" (click)="onEdit(notification)">Edit</button>
        <button *ngIf="showDeleteButton" type="button" class="btn btn-danger flex-fill m-1" (click)="onDelete(notification)">Delete</button>
    </div>
    <app-notification [notification]="notification"></app-notification>
  </li>
</ul>
